.ItemsText{
    margin-top:80px;
    text-align: start;
    
}
.Iteminput{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    align-items: center;
    padding:6px;
    margin-top:10px;
}
.box p{
    margin-top:5px;
    margin-left:10px;
}