.Icons{
    font-size:30px;
    color:rgba(29, 156, 69, 0.733);
}
.sort{
    padding:5px;
    float:right;
    margin-right:30px;
}
.filterall{
    margin-right:30px;
    padding:0px 25px;
    text-align: left;
}
.filteradd{
    padding:0px 25px;
}