.App{
    margin:50px auto;
    width:700px;
    height: auto;
    text-align: center;
    background-color: #c8c8c8;
}
.header{
    color:rgb(0, 115, 255)
}
.line{
    border:1px solid black;
    margin-top:40px;
    opacity: 0.5;
}